@use '@mixins/index';
@use '@var/colors';

.services {
    margin-top: 100px;
}
.body {
    padding: 0 40px;

    opacity: 0;
    transition: all 1.4s ease 0.3s;
    transform: scale(0.9);
}
.body._inView {
    opacity: 1;
    transform: scale(1);
}
.wrapper {
    padding: 40px 0;
}

.block {
    &:not(:last-child) {
        margin-bottom: 50px;
    }
}
.inner {
    transform: translateZ(40px);
    margin-bottom: 30px;
}
.service {
    display: flex;
    transform-style: preserve-3d;

    .img {
        transform: translateZ(80px);
    }
    img {
        @include index.responsive-width(280, 365, 993, 1900);
    }
    .items {
        flex: 1 1 auto;
        margin-left: 20px;
    }
}
.item {
    display: flex;
    column-gap: 15px;
    align-items: center;
    transform-style: preserve-3d;

    &:not(:last-child) {
        margin-bottom: 30px;
    }
    &Title {
        flex: 1 1 auto;
        @include index.responsive-font(16, 22, 993, 1900);
        transform: translateZ(-40px);
    }
    &Price {
        white-space: nowrap;
        font-weight: 900;
        font-family: 'Public Sans';
        @include index.responsive-font(16, 22, 993, 1900);
    }
}
.items {
    transform-style: preserve-3d;
}
.btn {
    transform: translateZ(40px);
}

.wrapper:nth-child(even) .block .service {
    flex-direction: row-reverse;
    .items .item {
        flex-direction: row-reverse;
    }
}

@media (max-width: 992px) {
    .services * {
        transform: translateZ(0) !important;
    }
    .service {
        flex-direction: column !important;
        justify-content: space-between !important;
    }
    .img {
        display: flex;
        justify-content: center;
        margin-bottom: 50px;
        img {
            width: 600px;
            height: 400px;
            object-fit: cover;
        }
    }
    .item {
        flex-wrap: wrap;
        flex-direction: row !important;
        justify-content: space-between;
        padding-bottom: 30px;
        border-bottom: 1px solid colors.$greyControl;
        &Title {
            flex: 1 1 100%;
            margin-bottom: 30px;
        }
    }
    .body {
        padding: 0;
    }
}

@media (max-width: 375px) {
    .img {
        img {
            width: 100%;
            max-width: 350px;
            @include index.responsive-height(300, 400, 320, 375);
        }
    }
}
