.mobileMenu {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 60px;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

    background: #000;
    padding: 75px 20px 32px 20px;

    overflow: auto;
}
