.row {
    display: flex;
    align-items: center;
    column-gap: 20px;
    justify-content: center;
}
.logo {
    display: flex;
    align-items: center;
    column-gap: 15px;
    margin: 0 auto;
}
