.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
.logo {
    display: flex;
    column-gap: 15px;
    align-items: center;
    flex: 0 1 240px;
}

@media (max-width: 1400px) {
    .logo {
        order: 1;
        flex: 1 1 100%;
        justify-content: center;
    }
    .row {
        flex-wrap: wrap;
    }
}
