@use '@var/colors';

.appButton {
    padding: 10px;
    border-width: 2px;
    border-style: solid;
    font-weight: 600;
    cursor: pointer;
}

.wnr {
    border-color: colors.$white;
    color: colors.$white;
}
.gnr {
    border-color: colors.$orange;
    color: colors.$orange;
}
