@use '@var/colors';

.appButton {
    padding: 10px;
    border-width: 2px;
    border-style: solid;
    font-weight: 600;
    cursor: pointer;
    text-align: center;
    transition: all 0.3s ease 0s;
}

.wnr {
    border-color: colors.$white;
    color: colors.$white;
}
.gnr {
    border-color: colors.$orange;
    color: colors.$orange;
}
.gr {
    border-color: colors.$orange;
    border-radius: 30px;
    color: colors.$orange;

    &:hover {
        background: colors.$orange;
        color: colors.$blackBtnText;
    }
}
