@use '@var/colors';
@use '@var/global';
@use '@/styles/fonts';
@use '@mixins/index';

.welcome {
    background: colors.$blackBg;

    position: relative;
    min-height: 1500px;
    overflow-y: hidden;
}
.body {
    padding-top: 100px;
    padding-bottom: 200px;
}
.welcomeText {
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    @include index.responsive-font(24, 48, 320, 1900);
}
.welcomeSubtext {
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    color: colors.$grey;
    margin-top: 10px;
    @include index.responsive-font(24, 48, 320, 1900);
}
.title {
    text-align: center;
    font-weight: lighter;
    text-transform: uppercase;
    line-height: 0.9;

    @include index.responsive-font(50, 170, 320, 1900);
}
.subtitle {
    font-weight: 700;
    @include index.responsive-font(20, 40, 320, 1900);
    text-align: center;
    text-transform: uppercase;
    color: colors.$grey;
}

.row {
    position: relative;
    z-index: 2;
    display: flex;
    flex-wrap: wrap;
    row-gap: 130px;
    margin-top: -50px;
}
.column {
    flex: 0 1 50%;
    display: flex;

    &:nth-child(even) {
        justify-content: flex-end;
        .item {
            transform: translate(0, 50%);
        }
    }
    &:nth-child(3) {
        .item {
            transform: translate(20%, 0);
        }
    }
    &:nth-child(4) {
        .item {
            transform: translate(-30%, 50%);
        }
    }
}
.item {
    max-width: 360px;

    &Title {
        font-weight: 700;
        font-size: 26px;
        text-transform: uppercase;
    }
    &Img {
        margin-top: 15px;
    }
    &Description {
        margin-top: 10px;
        color: colors.$grey;
    }
}

.bgImageWrapper {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    min-height: 100%;
}
.bgImage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.4;

    &:before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0), #363636);
    }
}

@media (max-width: global.$tablet) {
    .welcome {
        min-height: 1700px;
    }
    .title {
        margin: 30px 0 0 0;
    }
    .row {
        row-gap: 30px;
    }
    .column {
        flex: 1 1 100%;
        .item {
            transform: translate(0, 0) !important;
        }
    }
}
