.masters {
    margin-top: 100px;
}
.row {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    column-gap: 15px;
}

.column {
    display: flex;
    flex-direction: column;
    row-gap: 15px;

    &1,
    &2 {
        padding-top: 140px;
    }
}
