.masters {
    margin-top: 100px;
}
.row {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    column-gap: 15px;
}

.column {
    display: flex;
    flex-direction: column;
    row-gap: 15px;

    &1,
    &2 {
        padding-top: 140px;
    }
}

@media (max-width: 992px) {
    .row {
        flex-wrap: wrap;
        column-gap: 0;
        row-gap: 20px;
    }
    .column {
        flex: 1 1 100%;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 0;
        row-gap: 20px;
    }
}
