.masters {
    margin-top: 100px;
    overflow-x: hidden;
}
.row {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    column-gap: 15px;

    transform: translate(0, 25px);
    opacity: 0;
    transition: all 2s ease 0.2s;
}
.column {
    display: flex;
    flex-direction: column;
    row-gap: 15px;

    &1,
    &2 {
        padding-top: 140px;
    }
}

.masters._inView {
    overflow-x: visible;
    .row {
        transform: translate(0, 0);
        opacity: 1;
    }
}

@media (max-width: 992px) {
    .row {
        flex-wrap: wrap;
        column-gap: 0;
        row-gap: 20px;
    }
    .column {
        flex: 1 1 100%;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 0;
        row-gap: 20px;
    }
}
