.cosmetics {
    .modal {
        &__body {
            padding: 0;
            max-width: 200px !important;
        }
    }

    margin-top: 100px;
    img {
        height: 300px;
        max-width: 100%;
        object-fit: cover;
    }
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -8px;
    margin-top: 50px;
    row-gap: 16px;
    justify-content: center;

    //transform: scale(0.97);
    //opacity: 0;
    transition: all 2s ease 0.2s;
}
.column {
    flex: 1 1 25%;
    display: flex;
    padding: 0 8px;
    min-width: 320px;
    max-width: 100%;
    cursor: pointer;
}
.showMoreBtn {
    margin: 0 auto;
    margin-top: 60px;
    max-width: 250px;
}

.cosmetics._inView {
    .row {
        transform: scale(1);
        opacity: 1;
    }
}

@media (max-width: 1230px) {
    .column {
        flex: 1 1 50%;
        display: flex;
        padding: 0 8px;
        min-width: 320px;
        max-width: 100%;
    }
}
