@use '@var/colors';

.item {
    width: 100%;
    max-width: 385px;
    display: flex;
    flex-direction: column;
    background: #000;
}
.img {
    width: 100%;

    img {
        width: 100%;
        height: 300px;
        object-fit: cover;
    }
}

.body {
    padding: 16px;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
}
.name {
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 700;
}
.description {
    margin-top: 10px;
    color: colors.$grey;
    flex: 1 1 auto;
}
.price {
    margin-top: 33px;
    margin-bottom: 15px;
    font-family: 'Neutral Face', sans-serif;
    font-weight: bold;
    text-align: right;
    font-size: 20px;
}
.btn {
    margin-top: auto;
}

@media (max-width: 1230px) {
    .item {
        max-width: 100%;
    }
}
