@use './variables/global.scss';
@use './variables/colors.scss';
@use './mixins/index';
@use 'reset';
@use './fonts';
@use './slider';

html {
    scroll-behavior: smooth;
    scroll-padding-top: 90px;
}

body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    color: colors.$white;
    background: colors.$blackBg;
    a {
        color: colors.$black;
    }
    main {
        flex: 1 1 auto;
    }
    &._isLock {
        overflow: hidden;
        padding-right: 15px;

        @media (max-width: 992px) {
            padding-right: 0;
        }
    }
}

%container {
    padding: 0 #{global.$sideIndent + px};
    margin: 0 auto;
}

._container-large {
    @extend %container;
    max-width: global.$maxWidthContainerLarge;
}
._container-default {
    @extend %container;
    max-width: global.$maxWidthContainer;
}
._title {
    color: colors.$black;
    text-align: center;
    @include index.responsive-font(34, 64, 320, 1800);
}
._tilt {
    transform-style: preserve-3d;
}
.ymaps-2-1-79-controls-pane {
    position: static !important;
}
.ymaps-2-1-79-map {
    width: 100% !important;
}

.modal {
    position: fixed;
    z-index: 10;
    background: rgba(80, 77, 77, 0.17);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px); /* Для Safari */
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;

    &__body {
        background: #000;
        width: 100%;
        min-height: 300px;
        max-width: 800px;
        border-radius: 30px;
        padding: 70px 30px;
        position: relative;
        text-align: center;
        color: colors.$grey;
        @include index.responsive-font(16, 25, 320, 992);
        a {
            font-weight: 900;
            color: colors.$grey;
        }
    }
    &__close {
        position: absolute;
        top: 30px;
        right: 50px;
    }
}
