@use '@mixins/index';

.logo {
    font-size: 30px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    column-gap: 16px;
    color: #ffffff;
}

.primary {
    display: flex;

    .pre {
        font-weight: 500;
    }
    .post {
        font-weight: 300;
    }
}
.secondary {
    font-size: 12px;
    font-weight: 300;
}

@media (max-width: 425px) {
    .logo {
        font-size: 25px;
        column-gap: 8px;
    }
    .secondary {
        font-size: 9px;
    }
}

@media (max-width: 375px) {
    .primary {
        @include index.responsive-font(18, 25, 320, 375);
    }
    .secondary {
        @include index.responsive-font(7, 9, 320, 375);
    }
}
