.videoWrapper {
    position: relative;
    display: flex;
    justify-content: center;

    video {
        &:hover {
            cursor: pointer;
        }
    }

    video[poster] {
        width: 300px;
        height: 533px;
        object-fit: cover;
    }

    &:hover {
        .playIcon {
            background: rgba(236, 236, 236, 0.87);
            transform: translate(-50%, -50%) scale(1.05);
        }
    }
}
.playIcon {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 88px;
    height: 55px;
    border-radius: 50px;
    background: rgba(255, 255, 255, 0.34);
    transform: translate(-50%, -50%) scale(1);
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    opacity: 1;
    transition: all 0.3s ease 0s;
}
._isPlaying {
    opacity: 0;
}
