.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 3;
}

.row._active {
    &:before {
        content: '';
        position: fixed;
        width: 100%;
        height: 70px;
        background: black;
        top: 0;
        left: 0;
        z-index: -1;
    }
}
