@use '@var/colors';
@use '@mixins/index';
.certificates {
    margin-top: 100px;
    img {
        height: 300px;
        max-width: 100%;
        object-fit: cover;
    }
}
.subtitle {
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    margin-top: 17px;
    @include index.responsive-font(12, 24, 320, 992);
}
.note {
    color: colors.$grey;
    text-align: center;
    margin-top: 10px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -8px;
    margin-top: 50px;
    row-gap: 16px;
    justify-content: center;
}
.column {
    flex: 1 1 25%;
    display: flex;
    padding: 0 8px;
    min-width: 320px;
    max-width: 100%;

    transform: translate(0, 40px);
    opacity: 0;

    &:nth-child(1) {
        transition: all 2s ease 0.2s;
    }
    &:nth-child(2) {
        transition: all 2s ease 0.6s;
    }
    &:nth-child(3) {
        transition: all 2s ease 1s;
    }
    &:nth-child(4) {
        transition: all 2s ease 1.4s;
    }
}

.certificates._inView {
    .column {
        transform: translate(0, 0);
        opacity: 1;
    }
}

@media (max-width: 1230px) {
    .column {
        flex: 1 1 50%;
        display: flex;
        padding: 0 8px;
        min-width: 320px;
        max-width: 100%;
    }
}
