@use '@var/colors';
@use '@var/global';
@use '@mixins/index';

.nav {
    flex: 0 1 calc(50% - 130px);
}
.list {
    display: flex;
    column-gap: 18px;
}
.link {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 900;
    white-space: nowrap;
    color: colors.$white !important;
}

@media (max-width: 1400px) {
    .nav {
        order: 2;
    }
}

@media (max-width: global.$tablet) {
    .list {
        flex-direction: column;
        row-gap: 22px;
    }
    a,
    .link {
        @include index.responsive-font(18, 22, 320, 425);
    }
}
