.nav {
    flex: 0 1 calc(50% - 130px);
}
.list {
    display: flex;
    column-gap: 18px;
}
.link {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 900;
    white-space: nowrap;
}

@media (max-width: 1400px) {
    .nav {
        order: 2;
    }
}
