@use '@var/colors';
@use '@var/global';

.nav {
    flex: 0 1 calc(50% - 130px);
}
.list {
    display: flex;
    column-gap: 18px;
}
.link {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 900;
    white-space: nowrap;
    color: colors.$white !important;
}

@media (max-width: 1400px) {
    .nav {
        order: 2;
    }
}

@media (max-width: global.$mobile) {
    .list {
        flex-direction: column;
        row-gap: 22px;
    }
}
