@use '@var/colors';

.contacts {
    background: colors.$blackBtnText;
    margin-top: 600px;
    padding: 50px 0;
}
.row {
    margin-top: 50px;
    display: flex;
    column-gap: 60px;
}
.info {
    padding: 16px;
    flex: 0 1 350px;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}
.item {
    display: flex;
    align-items: center;
    column-gap: 15px;
}
.name {
    color: colors.$grey;
}
.note {
    font-size: 22px;
    font-weight: 900;
    text-transform: uppercase;
}
.map {
    flex: 0 1 100%;

    * {
        width: 100%;
        height: 100%;
    }
}

@media (max-width: 768px) {
    .row {
        flex-direction: column;
    }
}
