@use '@var/colors';
@use '@mixins/index';

.mastersItem {
    transition: all 0.3s ease 0s;
    cursor: pointer;
    overflow: hidden;
    border: 2px solid transparent;
    position: relative;

    &:hover {
        border: 2px solid colors.$orange;
        border-radius: 30px;
    }
}
.img {
    img {
        max-width: 100%;
    }
}
.info {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 16px;
    background: colors.$blackMastersItemBg;

    transition: all 0.3s ease 0s;

    transform: translate(0, 10px);
    visibility: hidden;
    opacity: 0;
    @include index.responsive-property('paddingTop', 8, 16, 992, 1900);
    @include index.responsive-property('paddingBottom', 8, 16, 992, 1900);
    @include index.responsive-property('paddingLeft', 12, 16, 992, 1900);
    @include index.responsive-property('paddingRight', 12, 16, 992, 1900);
}

.name {
    font-weight: 900;
    text-transform: uppercase;
    @include index.responsive-font(18, 48, 992, 1900);
}
.position {
    @include index.responsive-property('marginTop', 8, 20, 992, 1900);
    font-weight: 900;
    text-transform: uppercase;
    font-family: 'Neutral Face', sans-serif;
    @include index.responsive-font(14, 16, 992, 1900);
}
.description {
    @include index.responsive-font(14, 19, 992, 1900);
    @include index.responsive-property('marginTop', 8, 16, 992, 1900);
    @include index.responsive-property('marginBottom', 12, 16, 992, 1900);
}

@media (hover: hover) {
    .mastersItem:hover .info {
        opacity: 1;
        visibility: visible;
        transform: translate(0, 0px);
    }
}

.btnContent {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 20px;

    &:hover {
        .arrow:before,
        .arrow:after {
            background: colors.$blackBtnText !important;
        }
    }
}

.arrow {
    width: 10px;
    height: 10px;
    position: relative;
    cursor: pointer;
    top: 3px;
    transform: scale(0.6);

    display: none;

    &:before {
        content: '';
        position: absolute;
        width: 12px;
        height: 2.5px;
        background: colors.$orange !important;
        border-radius: 2px 0 0 2px;
        transform: rotate(45deg);
        top: -3px;
        left: 0;
        transition: all 0.3s ease 0s !important;
    }
    &:after {
        content: '';
        position: absolute;
        width: 12px;
        height: 2.5px;
        background: colors.$orange !important;
        border-radius: 2px 0 0 2px;
        transform: rotate(-45deg);
        top: 4px;
        left: 0;
        transition: all 0.3s ease 0s !important;
    }
}

@media (max-width: 992px) {
    .mastersItem {
        width: 100%;
        display: flex;
        justify-content: center;
        max-width: 500px;
        .img {
            width: 100%;
            img {
                width: 100%;
                max-height: 745px;
                object-fit: cover;
            }
        }
    }

    ._show .info {
        opacity: 1;
        visibility: visible;
        transform: translate(0, 0px);
    }

    .name {
        @include index.responsive-font(18, 48, 320, 992);
    }
    .position {
        @include index.responsive-property('marginTop', 8, 20, 320, 992);
        @include index.responsive-font(14, 16, 320, 992);
    }
    .description {
        @include index.responsive-font(14, 19, 320, 992);
        @include index.responsive-property('marginTop', 8, 16, 320, 992);
        @include index.responsive-property('marginBottom', 12, 16, 320, 992);
    }
}
