@use '@var/colors';

.mastersItem {
    transition: all 0.3s ease 0s;
    cursor: pointer;
    overflow: hidden;
    border: 2px solid transparent;
    position: relative;

    &:hover {
        border: 2px solid colors.$orange;
        border-radius: 30px;
    }
}
.img {
    img {
        max-width: 100%;
    }
}
.info {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 16px;
    background: colors.$blackMastersItemBg;

    transition: all 0.3s ease 0s;

    transform: translate(0, 10px);
    visibility: hidden;
    opacity: 0;
}

.name {
    font-weight: 900;
    font-size: 48px;
    text-transform: uppercase;
}
.position {
    margin-top: 20px;
    font-weight: 900;
    text-transform: uppercase;
    font-family: 'Neutral Face', sans-serif;
}
.description {
    margin: 16px 0;
}

.mastersItem:hover .info {
    opacity: 1;
    visibility: visible;
    transform: translate(0, 0px);
}

.btnContent {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 20px;

    &:hover {
        .arrow:before,
        .arrow:after {
            background: colors.$blackBtnText !important;
        }
    }
}

.arrow {
    width: 10px;
    height: 10px;
    position: relative;
    cursor: pointer;
    top: 3px;
    transform: scale(0.6);

    &:before {
        content: '';
        position: absolute;
        width: 12px;
        height: 2.5px;
        background: colors.$orange !important;
        border-radius: 2px 0 0 2px;
        transform: rotate(45deg);
        top: -3px;
        left: 0;
        transition: all 0.3s ease 0s !important;
    }
    &:after {
        content: '';
        position: absolute;
        width: 12px;
        height: 2.5px;
        background: colors.$orange !important;
        border-radius: 2px 0 0 2px;
        transform: rotate(-45deg);
        top: 4px;
        left: 0;
        transition: all 0.3s ease 0s !important;
    }
}
